<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- jquery & bootstrap -->
<script src="/js/bootstrap.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<!-- my css -->
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/login.css">
<link href="/css/bootstrap.css" rel="stylesheet">

<title>My Website</title>