<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <script src="../js/bootstrap.js"></script>
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>Document</title>
</head>

<body>
    <!-- Navigation Start-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" id="LogoLink" href="/"><img id="LogoLink" src="../img/logo/btc_logo.png" alt="..." /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" id="introduction" href="/introduction">소개</a></li>
                <li class="nav-item"><a class="nav-link" id="board" href="/board">대나무숲</a></li>
                <li class="nav-item"><a class="nav-link" id="rec_board" href="/rec_board">맛집추천게시판</a></li>
                <li class="nav-item"><a class="nav-link" id="restaurant" href="/restaurant">맛집</a></li>
                <li class="nav-item"><a class="nav-link" id="review" href="/review">게시판댓글</a></li>
                <li class="nav-item"><a class="nav-link" id="login" href="/login">로그인</a></li>
            </ul>
        </div>
        </div>
    </nav>
    <!-- Navigation END-->
    <header class="login_header">
        <div class="container">
            <form method="post" action="/login_post">
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="inputEmail3">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="inputPassword3">
                    </div>
                </div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Company</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" value="Bespinglobal" checked>
                            <label class="form-check-label" for="gridRadios1">
                        Bespinglobal
                      </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" value="BTC">
                            <label class="form-check-label" for="gridRadios2">
                        BTC
                      </label>
                        </div>
                    </div>
                </fieldset>
                <div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                    <!-- href 사용안함 -> 자바스크립트 사용함 href="/login/membership"-->
                    <p type="test" class="btn btn-primary" id="membership" >회원가입</p>
                </div>
            </form>
        </div>
    </header>
    <!--js파일연결-->
    <script src="../../models/pages.js"></script>

</body>

</html>