<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <%- include('../partials/nav') %>
    <h1> 맛집 </h1>
    <!--js파일연결-->
    <!-- <script src="../../models/pages.js"></script> -->

</body>

</html>