<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>
    <header>
        <h1>Main 화면 입니다.</h1>
    </header>
    <!-- <script src="../models/pages.js"></script> -->
</body>

</html>