<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

        <nav aria-label="breadcrumb"> <!-- 1 -->
          <ol class="breadcrumb p-1 pl-2 pr-2">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/boards">Board</a></li>
          </ol>
        </nav>
  
        <form action="/boards/new" method="post" onsubmit="onWriteSubmit()">
  
          <div class="form-group">
            <label for="bd_writer">작성자</label>
            <input type="text" id="bd_writer" name="bd_writer" value="" class="form-control">
          </div>

          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="" class="form-control">
          </div>
          
          <div class="form-group">
            <label for="body">내용</label>
            <textarea id="body" name="body" rows="5" class="form-control"></textarea>
          </div>
  
          <div>
            <a class="btn btn-primary" href="/boards">Back</a>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
  
        </form>
  
      </div>

      <script>
        function onWriteSubmit()
        {
          if ( $("#title").val().trim() == "" )
          {
            var message = "제목을 입력해 주세요";
            $("#title").val("");
            $("#title").focus();
            alert(message);
            return false;
          }
      
          if ( $("#body").val().trim() == "" )
          {
            var message = "내용을 입력해 주세요";
            $("#body").val("");
            $("#body").focus();
            alert(message);
            return false;
          }
        }
      </script>
</body>

</html>